.dashboard {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.section1 {
  width: 100%;
  height: 100%;
  background: #f8f7f1;
  padding: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 46px;
}

.searchbar {
  width: 50%;
  height: 40px;
  border-radius: 6px;
  outline: none;
  border: 1px solid;
  font-size: 24px;
  padding-left: 12px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dataRecord {
  width: 100%;
  height: 30%;
  display: flex;
  gap: 24px;
}
.lineChartContainer1{
  background: #c6d0bc;
  border-radius: 32px;
  width: 100%;
   padding: 30px; 
  align-items: center;
  flex-direction: column;
  display: flex;
}
.lineChartContainer2{
  background: #f6d78b;
  border-radius: 32px;
  width: 100%;
   padding: 30px; 
  align-items: center;
  flex-direction: column;
  display: flex;
}
.lineChartContainer3{
  color: #000;
  background: #a1a7fd;
  border-radius: 32px;
  width: 100%;
   padding: 30px; 
  align-items: center;
  flex-direction: column;
  display: flex;
}
.lineChartContainer4{
  background: #f1eee4;
  color: #000;
  border-radius: 32px;
  width: 100%;
   padding: 30px; 
  align-items: center;
  flex-direction: column;
  display: flex;
}
.section2 {
  width: 800px;
  height: 100%;
 background-color: #f1eee4; 
}
.text {
  font-family: "Satoshi", sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: normal;
}
.subText {
  font-family: "Satoshi", sans-serif;
  font-size: 16px;
  color: #a7afad;
}
.num{
    font-size: 36px;
    font-weight: 700;
}
.point{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.recentSales{
  width: 100%;
  padding: 36px;
  
}
.subHeader{
 display: flex;
align-items: center;
justify-content: space-between;
padding-bottom: 24px;
}
.profile{
  height: 40px;
  width: 40px;
 border-radius: 50%;
 background-color: #fff;
 align-items: center;
 display: flex;
 justify-content: center;

}
.perSales{
  background: #f8f7f1;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 24px;

}
:hover.perSales{
  background-color: #fff;
}
.sales{
display: flex;
flex-direction: column;
gap: 8px;
}


@media only screen and (max-width: 767px) {
  /* Styles for mobile phones */
  .dashboard {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    
  }
  .dataRecord {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    gap: 26px;
  }
  .sec {
    width: 100%;
    height: 100%;
    
  }
}


@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* Styles for tablets */
  .dashboard {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    
  }
  .dataRecord{
    display: grid ;
    grid-template-columns: 2fr 2fr;
   place-content: center; 
    place-items: center;
  }

}


@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* Styles for small laptops and desktops */
  .dashboard {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  
  .sec{
    width: 100%;
  }
  
  
}
@media only screen and (min-width: 1200px) {
  /* Styles for large laptops and desktops */
  .dashboard{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row
  }
  .section1{
    /* background-color: aqua; */
  }
  .dataRecord{
    display: grid ;
    grid-template-columns: 2fr 2fr;
   place-content: center; 
    place-items: center;
  }
  
}
