*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Satoshi", sans-serif;

}
.dark  {
  --color-bg-primary:#17171a;
}

.light{
  --color-bg-primary: #ffffff;
}